img{width: 570px;}
.col-sm.button{margin-top: 500px;}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .masthead-brand{color: white;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  html, body {
    height: 100%;
    margin: 0;
    background: #333333;
  }
  
  
  .container {
    height: 100%;
    
  }
  .page1{ color: white;
    height: 100%;
  }
.page2{color: white;
height:100%;}

.page3{color: white;
height:100%;}
button{color: white;}

html {
  scroll-behavior: smooth;
}
